.form__container {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.form__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.form__image{
  width:400px;
  margin: 70px 0 5px;
}
.form__input {
  width: 100%;
  margin: 5px 0 15px;
  padding: 12px 15px;
  border: transparent;
  border-bottom: 2px solid #ccc;
  background-color: #f9f9f9;
}
.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover,
.form__input:-webkit-autofill:focus,
.form__input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.form__input:focus{
  outline: none;
  background-color: #ebebeb;
}
.form__label {
  color: #939393;
  font-size: 12px;
}
.form__password-input {
  position: relative;
}
.form__password-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__label-question {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 14px;
  color: blue;
  cursor: pointer;
}
.form__label-question:hover {
  color: rgb(64, 64, 255);
}
.form__label-question:active {
  color: rgb(0, 0, 126);
}
.form__input-icon {
  position: absolute;
  top: 45%;
  right: 4%;
}
.form__submit {
  position: relative;
  cursor: pointer;
}
.form__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  width: 100%;
  margin: 10px 0 30px;
  padding: 15px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}
.form__button-icon {
  position: absolute;
  top: 35%;
  right: 6%;
  color: white;
}
.line {
  width: 100%;
  height: 1.2px;
  background: #ccc;
}